<li>
  <label>项目名称：</label>
  <input type="text" v-model="name" placeholder="项目名称" lazy @focus="focus('nameError')"/>
</li>
<li v-show="nameError" class="ui-item-error">
  <label class="fn-invisible">&emsp;&emsp;&emsp;&emsp;&emsp;</label>
  <span>{{ nameError }}</span>
</li>
<li @focusin="focus('pathError')">
  <directory label="项目路径" :path.sync="path"></directory>
</li>
<li v-show="pathError" class="ui-item-error">
  <label class="fn-invisible">&emsp;&emsp;&emsp;&emsp;&emsp;</label>
  <span>{{ pathError }}</span>
</li>