<li>
  <label>项目名称：</label>
  <input type="text" v-model="name" placeholder="项目名称"/>
</li>
<li v-show="nameError" class="ui-item-error">
  <label class="fn-invisible">&emsp;&emsp;&emsp;&emsp;&emsp;</label>
  <span><i class="icon-expand"></i>{{ nameError }}</span>
</li>
<li>
  <directory label="项目路径" :path.sync="path"></directory>
</li>
<li v-show="pathError" class="ui-item-error">
  <label class="fn-invisible">&emsp;&emsp;&emsp;&emsp;&emsp;</label>
  <span><i class="icon-expand"></i>{{ pathError }}</span>
</li>