<project-configure
  :show.sync="showSetting"
  :project="project"
  :unique.sync="unique">
</project-configure>
<div v-show="project.name && project.path" class="ui-project-stage">
  <div class="ui-control-bar fn-clear">
    <div class="ui-control-operate fn-left">
      <a title="删除项目" href="javascript:;" @click="remove"><i class="icon-trash"></i></a>
      <a title="设置项目" href="javascript:;" @click="setting"><i class="icon-gear"></i></a>
    </div>
    <div class="fn-right">
      <ul class="ui-command fn-clear">
        <li v-for="cmd in command">
          <a :title="cmd.name" href="javascript:;">
            <i class="icon-play"></i>
            {{ cmd.name }}
          </a>
        </li>
        <li v-if="moreCommand.length" class="ui-command-more">
          <a v-el:expand-trigger href="javascript:;">更多&nbsp;<i class="icon-expand"></i></a>
          <ul v-show="showMoreCommand" class="ui-command-popup">
            <li v-for="moreCmd in moreCommand">
              <a :title="moreCmd.name" href="javascript:;">
                <i class="icon-play"></i>
                {{ moreCmd.name }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="ui-project-terminal"></div>
</div>