<project-configure :project="project" :unique-projects.sync="uniqueProjects"></project-configure>
<div class="ui-project-stage fn-hide">
  <div class="ui-control-bar fn-clear">
    <div class="ui-control-operate fn-left">
      <a title="删除项目" href="javascript:;"><i class="icon-trash"></i></a>
      <a title="设置项目" href="javascript:;"><i class="icon-gear"></i></a>
    </div>
    <div class="fn-right">
      <ul class="ui-command fn-clear">
        <li><a href="javascript:;"><i class="icon-play"></i>命令1</a></li>
        <li><a href="javascript:;"><i class="icon-stop"></i>命令2</a></li>
        <li><a href="javascript:;"><i class="icon-play"></i>命令3</a></li>
        <li class="ui-command-more">
          <a href="javascript:;">更多&nbsp;<i class="icon-expand"></i></a>
          <ul class="ui-command-popup fn-hide">
            <li><a href="javascript:;"><i class="icon-play"></i>命令4</a></li>
            <li><a href="javascript:;"><i class="icon-stop"></i>命令5</a></li>
            <li><a href="javascript:;"><i class="icon-play"></i>命令6</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="ui-project-terminal"></div>
</div>