<div class="fn-left">
  <a @click="popupToggle" title="添加项目" class="ui-project-add" href="javascript:;">
    <i class="icon-plus"></i>
    <i class="icon-expand"></i>
  </a>
  <a @click="appConfigure('import')" class="ui-import-configure" title="导入配置" href="javascript:;">
    <i class="icon-import"></i>
  </a>
  <a @click="appConfigure('export')" class="ui-export-configure" title="导出配置" href="javascript:;">
    <i class="icon-export"></i>
  </a>
</div>
<div v-show="popup" class="ui-popup">
  <div class="ui-popup-arrow">
    <em></em>
    <span></span>
  </div>
  <div class="ui-popup-content">
    <form>
      <ul>
        <li>
          <label>项目名称：</label>
          <input type="text" placeholder="项目名称"/>
        </li>
        <li class="ui-item-error">
          <label class="fn-invisible">项目名称：</label>
          <span><i class="icon-expand"></i>asdasdasdsa</span>
        </li>
        <li id="popup-open-dir">
          <directory label="项目路径"></directory>
        </li>
        <li class="ui-item-error">
          <label class="fn-invisible">项目名称：</label>
          <span><i class="icon-expand"></i>asdasdasdsa</span>
        </li>
        <li class="ui-popup-control">
          <input type="submit" class="ui-button" value="确定"/>
          <input @click="popupToggle" type="button" class="ui-button ui-button-orange" value="取消"/>
        </li>
      </ul>
    </form>
  </div>
</div>